@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>偶像團體</title>
    <link href="~/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-4.1.3-dist/js/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 text-center"
                 style="background-color:#ade1ea;">
                <header><h2>偶像團體</h2></header>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2"
                 style="background-color:#dcf2b7;">
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            @Html.ActionLink("偶像團體", "MyLayout1", "Home",
                            new {@class="nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">日本</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">韓國</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">大陸</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">台灣</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-8 col-md-6 text-muted"
                 style="background-color:#eef1cf;">
                <section>
                    <h2>AKB48</h2>
                     
                    <img src="~/images/akb48.jpg"class="img-thumbnail"/> 
                    
                    <p>
                        AKB48是日本大型女子偶像團體，成立於2005年12月8日
                    </p>
                     
                    <img src="~/images/akb48-1.jpg"class="img-thumbnail" /> 
                     
                    <p>
                        繼AKB48後，秋元康以相近模式陸續於日本其他都市與海外成立SKE48、SDN48、NMB48、HKT48、NGT48、STU48、JKT48、BNK48、MNL48、AKB48 Team SH、AKB48 Team TP、SGO48、MUM48等姊妹團體，朝不同市場發展。
                    </p>
                </section>
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-muted"
                 style="background-color:#dcf2b7;">
                <aside>
                    <div class="card">
                    <img src="~/images/f(x).jpg"class="card-img-top img-thumbnail" />
                        <div class="card-body">
                            <h5 class="card-title">F(x)</h5>
                            <p>
                                f(x)是SM娛樂於2009年推出的韓國女子組合初時由五名不同國籍的成員組成
                            </p>
                            <a href="#" class="btn btn-primary">前往F(x) </a>
                        </div>
                    </div>
                    <div class="card">
                         
                             
                        <img src="~/images/Uniq.jpg"class="card-img-topmbnail"/> 
                        <div class="card-body">
                            <h5 class="card-title">uniq</h5>
                            <p>
                                UNIQ是中國大陸樂華娛樂於2014年9月推出的中韓跨國男子偶像團體，由3位中國大陸成員、2位韓國成員組成。
                                <a href="#" class="btn btn-primary">前往uniq </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 text-muted text-center"
                 style="background-color:#969393;">
                <footer>
                    <p style="color:#ebe6e6;padding-top:5px;">
                        &copy; @DateTime.Now.Year - 中國科技大學資管系二B
                        1061461048 許芷嫣
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
